{% extends 'registration/base.html' %}
{% block content %}
           {% load static %}


           <div class="page-content" style="background-image: url({% static 'registration/images/wizard-v3.jpg' %})">
	<div class="wizard-v3-content">
		<div class="wizard-form">
			<div class="wizard-header">
				<h3 class="heading">Changer votre mot de passe</h3>
			</div>
				<div id="form-total">
					<!-- SECTION 1 -->
					<h2>
						<span class="step-icon"><i class="zmdi zmdi-lock"></i></span>
						<span class="step-text">LOGIN</span>
					</h2>
					<section>
						<div class="inner">
                    <form method="post">
                    {% csrf_token %}
                     {% for field in form %}
                                <div class="col-md-12">
                                    <p>{{ field.label_tag }} </p>
                                    <div class="password_reset_input">
                                         {{ field }}
                                    </div>
                                 {% for error in field.errors %}
                     <p style="color: red">{{ error }}</p>
                     {% endfor %}
                                </div>
                 {% endfor %}
                <button type="submit" class="btn btn-primary" id="sub_rest">Confirmé</button>

                     </form>						</div>
					</section>

				</div>

		</div>
	</div>
</div>









 {% endblock %}