
   {% extends 'registration/base.html' %}

   {% block content %}
       {% load static %}

       <div class="page-content" style="background-image: url({% static 'registration/images/wizard-v3.jpg' %})">
	<div class="wizard-v3-content">
		<div class="wizard-form">
			<div class="wizard-header">
				<h3 class="heading">Sign IN Your User Account</h3>
			</div>
				<div id="form-total">
					<!-- SECTION 1 -->
					<h2>
						<span class="step-icon"><i class="zmdi zmdi-lock"></i></span>
						<span class="step-text">LOGIN</span>
					</h2>
					<section>
						<div class="inner">
                <h1>Votre mot de passe a été changé avec&nbsp;succès vous mentent se connecter avec votre nouveau mot de passe&nbsp; </h1><a class="btn btn-link" role="button" href="#">Se connecter</a>
						</div>
					</section>

				</div>

		</div>
	</div>
</div>


{% endblock %}