{% extends 'registration/base.html' %}
   {% block content %}
       {% load static %}


              <div class="page-content" style="background-image: url({% static 'registration/images/wizard-v3.jpg' %})">
	<div class="wizard-v3-content">
		<div class="wizard-form">
			<div class="wizard-header">
				<h3 class="heading">Sign IN Your User Account</h3>
			</div>
				<div id="form-total">
					<!-- SECTION 1 -->
					<h2>
						<span class="step-icon"><i class="zmdi zmdi-lock"></i></span>
						<span class="step-text">LOGIN</span>
					</h2>
					<section>
						<div class="inner">
                            h3>Nous vous avons envoyé un e-mail pour définir votre mot de passe, si le compte existe avec l'e-mail que vous avez entré. </h3>
                <h3>Vous devriez les recevoir dans quelques instants. </h3>
                <h4 id="h-rest-2">Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit.Et vérifiez votre dossier spam. </h4>
						</div>
					</section>

				</div>

		</div>
	</div>
</div>


{% endblock %}