
{% extends 'registration/base.html' %}

    {% block content %}
        {% load static %}
<div class="page-content" style="background-image: url({% static 'registration/images/wizard-v3.jpg' %})">

		<div class="wizard-v3-content">
			<div class="wizard-form">
				<div class="wizard-header">
					<h3 class="heading">Sign Up Your User Account</h3>
					<p>Fill all form field to go next step</p>
				</div>
		        <form class="form-register" action="{% url 'signup_page' %}" method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                 {% load widget_tweaks %}
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			            <h2>
			            	<span class="step-icon"><i class="zmdi zmdi-lock"></i></span>
			            	<span class="step-text">About</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<h3>Account Information:</h3>
			                	<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
                                            {% render_field form.email id="email" name="email" class="form-control" type="email"%}
											<span class="label">Email Address</span>
					  						<span class="border"></span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
                                           <label for="username" class="btn">Username</label>
                                            {% render_field form.username id="username" name="username" class="form-control" %}

											<span class="label"></span>
					  						<span class="border"></span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
                                             <label for="password_1" class="btn">Password</label>

                                            {% render_field form.password1 id="password1" name="password1" class="form-control" %}
											<span class="label"></span>
											<span class="border"></span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
                                            {% render_field form.password2 id="password2" name="password2" class="form-control" %}
											<span class="label"></span>
											<span class="border"></span>
										</label>
									</div>
								</div>
							</div>
			            </section>
						<!-- SECTION 2 -->
			            <h2>
			            	<span class="step-icon"><i class="zmdi zmdi-account "></i></span>
			            	<span class="step-text">Personal</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<h3>Personal Information:</h3>
			                	<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
                                            {% render_field form.first_name id="first_name" name="first_name" class="form-control" %}
											<span class="label">First Name*</span>
					  						<span class="border"></span>
										</label>
									</div>
									<div class="form-holder">
										<label class="form-row-inner">
                                            {% render_field form.last_name id="last_name" name="last_name" class="form-control" %}
											<span class="label">Last Name*</span>
					  						<span class="border"></span>
										</label>
									</div>
								</div>


							</div>
			            </section>
			            <!-- SECTION 3 -->
						<h2>
							<span class="step-icon"><i class="zmdi zmdi-shopping-basket"></i></span>
							<span class="step-text">Shope</span>
						</h2>

						<section>
							<div class="inner">
								<h3>Shope Information:</h3>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
                                          {% render_field form2.address id="address" name="address" class="form-control" %}

											<span class="label">adresse</span>
											<span class="border"></span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
											{% render_field form2.wilaya id="wilaya" name="wilaya" class="form-control"  %}

											<span class="label"></span>
											<span class="border"></span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
											{% render_field form2.type_shope id="type_shope" name="type_shope" class="form-control" %}

											<span class="label"></span>
											<span class="border"></span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
											<label for="logo" class="btn">Select Logo</label>

											{% render_field form2.logo id="logo" name="logo" class="form-control" %}

											<span class="label"></span>
											<span class="border"></span>
										</label>
									</div>
								</div>
                                	<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
											{% render_field form2.num_phone id="num_phone" name="num_phone" class="form-control" %}
											<span class="label">Phone Number*</span>
					  						<span class="border"></span>
										</label>
									</div>
								</div>
							</div>
						</section>
			            <!-- SECTION 4 -->

						<h2>
							<span class="step-icon"><i class="zmdi zmdi-card"></i></span>
							<span class="step-text">Payment</span>
						</h2>
						<section>
							<div class="inner">
								<h3>Payment Information:</h3>
								<div class="form-row">
									<div class="form-holder form-holder-2">

									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label class="form-row-inner">
											<input type="text" class="form-control" id="holder" name="holder" required>
											<span class="label">Holder Name*</span>
											<span class="border"></span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
											<label for="card" class="btn">Select facture</label>

											{% render_field form2.bill id="bill" name="bill" class="form-control" %}

										</label>
									</div>

								</div>

								</div>
							<div>
							</div>

						</section>
		        	</div>
					<input type="submit" id="finish" value="finish" style="display: none">

				</form>
			</div>
		</div>
	</div>


 {% endblock %}