
   {% extends 'seller/base.html' %}

   {% block content2 %}
       {% load static %}

<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Buy</h2>
            </div>
          </header>
    <div class="row">
<section   class="projects col-lg-6" style="margin-left: 10px">
            <div id="div1" class="container-fluid" style="background-color: white;min-height:500px" ondrop="drop(event)" ondragover="allowDrop(event)">


            </div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-9 mt-2">
                          <div class="form-group row has-success ">
                          <label class="col-sm-3 form-control-label">Total : </label>
                          <div class="col-sm-9">
                            <input id="total" type="number" class="form-control is-valid" value="0">
                          </div>
                        </div>
                    </div>
                    <div class="col-3 mt-2">
                          <input type="submit" value="Valid" class="btn btn-success w-100">

                    </div>

                </div>
            </div>
          </section>

<section class="projects col-lg-5" >
            <div id ="ps" class="container">

                <div id="search_div" class="project">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-12 d-flex align-items-center justify-content-between">
                            <div class="input-group">
                                <input type="text" class="form-control" onchange="onSearch()" id="search2" >
                                <div class="input-group-append">
                                  <button type="button" class="btn btn-primary">Go!</button>
                                </div>
                              </div>

                  </div>

                </div>
              </div>

              <!-- Project-->
              <div id="1" class="project p" draggable="true"  ondragstart="drag(event)" >
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-1.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Product Title</h3><small>Discription</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down"></span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                      <div class="time"><i class="fa fa-money"></i><span class="price">20000</span> DA</div>
                    <div class="comments">20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red qttp"></div>
                      </div>
                       <input type="number" class="form-control qtt" value="1" style="display:none;" max="20" min="0">

                    </div>
                      <a onclick="deletee(1)" href="#" class="close" style="display:none;"></a>
                  </div>
                </div>
              </div>
              <!-- Project-->
              <div id="2" class="project p" draggable="true"  ondragstart="drag(event)" >
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-2.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Project Title</h3><small>Lorem Ipsum Dolor</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down"></span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                    <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project-->
              <div id="3" class="project p" draggable="true"  ondragstart="drag(event)" >
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-3.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Project Title</h3><small>Lorem Ipsum Dolor</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down"></span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                    <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project-->
              <div id="4" class="project p" draggable="true"  ondragstart="drag(event)" >
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-4.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Project Title</h3><small>Lorem Ipsum Dolor</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down"></span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                    <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section>
</div>
</div>
    <script src="{% static 'seller/vendor/jquery/jquery.min.js' %}"></script>

<script>
    function onSearch() {
        a = $("#search2").val();
        a = a.toLowerCase();
        if (a == ''){
            $(".p").css("display","block");
        }
        $(".p").each(function (e) {
            console.log("1");
            b = $(this).find(".titre").text();
            b = b.toLowerCase();
            if (b.includes(a)){
                $(this).css("display","block");
            }else {
                $(this).hide();
            }
        })
    }

</script>

<script>

function drag(ev)  {
    ev.dataTransfer.setData("text",ev.target.id);
}
function allowDrop(ev) {
    ev.preventDefault();
}
function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");

    ev.target.appendChild(document.getElementById(data));
    $("#"+data).find(".close").css("display","block");
     $("#"+data).find(".qttp").hide();
      $("#"+data).find(".qtt").css("display","block")

    a=$("#total").val();
    $("#"+data).find(".price").each(function () {
        b = $(this).text()
    })

    $("#total").val(Number(a)+Number(b));


}

</script>

<script>
function deletee(id) {
    e = document.getElementById(id);
    $("#"+id).remove();
    console.log(e);
    $("#ps").prepend(e);
   $("#"+id).find(".close").css("display","none");
        $("#"+id).find(".qtt").hide();
      $("#"+id).find(".qttp").css("display","block");
     $("#"+id).find(".price").each(function () {
        b = $(this).text()
    });
     a=$("#total").val();
    $("#total").val(Number(a)-Number(b))

    e2 = document.getElementById("search_div");

    
    $("#search_div").remove();
        $("#ps").prepend(e2);



}

</script>

   {% endblock %}