{% extends 'seller/base.html' %}

   {% block content2 %}
       {% load static %}

<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Contact</h2>
            </div>
          </header>

                <div class="col-lg-12 mt-5" >
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Add contact</h3>
                    </div>
                    <div class="card-body">
                      <form method="post" action="{% url 'contact' %}">
                          {% csrf_token %}
                        <div class="form-group">
                          <label class="form-control-label">Name</label>
                          <input type="text" placeholder="Name" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                                <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                                <input type="email" name="email" placeholder="Email" class="form-control">
                        </div>
                          <div class="form-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-phone"></i> </span></div>
                                <input type="text" name="phone" placeholder="Phone" class="form-control">
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Save contact" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">All contacts</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for contact in contacts %}
                            <tr>
                              <th scope="row">{{ contact.id }}</th>
                              <td>{{ contact.name }}</td>
                              <td>{{ contact.email }}</td>
                              <td>{{ contact.phone }}</td>
                            </tr>
                         {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>


</div>



<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

 <script>

$(".e").removeClass("active");
$("#contact_nav").addClass("active");
</script>


   {% endblock %}