
   {% extends 'seller/base.html' %}

   {% block content2 %}
       {% load static %}

<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Product</h2>
            </div>
          </header>

<section class="projects ">
            <div class="container-fluid">

                <div class="project">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-12 d-flex align-items-center justify-content-between">
                            <div class="input-group">
                                <input type="text" class="form-control" onchange="onSearch()" id="search2" >
                                <div class="input-group-append">
                                  <button type="button" class="btn btn-primary">Go!</button>
                                </div>
                              </div>

                  </div>

                </div>
              </div>
                {% if  products %}
                    {% for product in products %}
                            <!-- Project-->
              <div class="project p">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{{ product.first_images.url }}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre"><a href="{% url 'signleProduct' product.id %}" style="color:black;">{{ product.title }}</a></h3><small>{{ product.discription }}</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down">{{ product.idd }}</span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                         {% if  product.is_in_reduction %}
                                                      <div class="time"><i class="fa fa-money"></i>{{ product.price_reduction }} DA<br>
                                                      <s>{{ product.price }} DA</s>

                                                      </div>

                                     {% else %}
                                                        <div class="time"><i class="fa fa-money"></i>{{ product.price }} DA</div>

                                     {% endif %}

                    <div class="comments">{{ product.nb }}</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="{{ product.nb }}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                      </div>
                    </div>
                      <a href="{% url 'sup_product' product.id  %}" class="btn btn-danger" style="color: white">X</a>
                  </div>
                </div>
              </div>
                    {% endfor %}


                {% endif %}


            </div>
          </section>


</div>

    <script src="{% static 'seller/vendor/jquery/jquery.min.js' %}"></script>
<script>
    function onSearch() {
        a = $("#search2").val();
        a = a.toLowerCase();
        if (a == ''){
            $(".p").css("display","block");
        }
        $(".p").each(function (e) {
            console.log("1");
            b = $(this).find(".titre").text();
            b = b.toLowerCase();
            if (b.includes(a)){
                $(this).css("display","block");
            }else {
                $(this).hide();
            }
        })
    }

</script>
<script>

$(".e").removeClass("active");
$("#product_nav").addClass("active");
</script>


   {% endblock %}