
   {% extends 'seller/base.html' %}

   {% block content2 %}
       {% load static %}

<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Product</h2>
            </div>
          </header>

<section class="projects ">
            <div class="container-fluid">

                <div class="project">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-12 d-flex align-items-center justify-content-between">
                            <div class="input-group">
                                <input type="text" class="form-control" onchange="onSearch()" id="search2" >
                                <div class="input-group-append">
                                  <button type="button" class="btn btn-primary">Go!</button>
                                </div>
                              </div>

                  </div>

                </div>
              </div>

              <!-- Project-->
              <div class="project p">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-1.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Product Title</h3><small>Discription</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down">#AD257892er2</span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-money"></i>20000 DA</div>
                    <div class="comments">20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project-->
              <div class="project p">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-2.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Project Title</h3><small>Lorem Ipsum Dolor</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                    <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project-->
              <div class="project p">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-3.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Project Title</h3><small>Lorem Ipsum Dolor</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                    <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project-->
              <div class="project p">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="{% static 'seller/img/project-4.jpg' %}" alt="..." class="img-fluid"></div>
                      <div class="text">
                        <h3 class="h4 titre">Project Title</h3><small>Lorem Ipsum Dolor</small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                    <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


</div>

    <script src="{% static 'seller/vendor/jquery/jquery.min.js' %}"></script>
<script>
    function onSearch() {
        a = $("#search2").val();
        a = a.toLowerCase();
        if (a == ''){
            $(".p").css("display","block");
        }
        $(".p").each(function (e) {
            console.log("1");
            b = $(this).find(".titre").text();
            b = b.toLowerCase();
            if (b.includes(a)){
                $(this).css("display","block");
            }else {
                $(this).hide();
            }
        })
    }

</script>


   {% endblock %}