
   {% extends 'seller/base.html' %}

   {% block content2 %}
       {% load static %}

<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Profile</h2>
            </div>
          </header>


          <section class="dashboard-header">
            <div class="container-fluid">
              <div class="row">

                <!-- Line Chart            -->
                <div class="chart col-lg-6 col-12">
                  <div class="line-chart bg-white d-flex align-items-center justify-content-center has-shadow">
                    <img src="{% static  'seller/img/avatar-0.jpg' %}" alt="this is image"  height="400px">
                  </div>
                </div>
                   <div class="chart col-lg-6 col-12">
                              <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4"> Edit information</h3>
                    </div>
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet consectetur.</p>
                     <form style="padding: 50px">
                         <div class="row">
                           <div class="form-group-material col-lg-6">
                              <input id="first_name" type="text" name="first_name" required class="input-material">
                              <label for="first_name" class="label-material">First name</label>
                            </div>
                             <div class="form-group-material col-lg-6">
                              <input id="last_name" type="text" name="last_name" required class="input-material">
                              <label for="last_name" class="label-material">Last name</label>
                            </div>
                        </div>
                               <div class="row">
                           <div class="form-group-material col-lg-6">
                              <input id="address" type="text" name="address" required class="input-material">
                              <label for="address" class="label-material">Address</label>
                            </div>
                             <div class="form-group-material col-lg-6">
                              <label for="willaya" class="label-material">Willaya</label>
                                <select class="form-control" id="willaya" name="willaya" require>
												<option value="1">-select wilaya-</option>
												<option value="1">ee</option>
												<option value="1">ee</option>
												<option value="1">ee</option>

											</select>
                            </div>
                        </div>
                             <div class="row">
                           <div class="form-group-material col-lg-6">
                              <input id="phone" type="text" name="phone" required class="input-material">
                              <label for="phone" class="label-material">Phone</label>
                            </div>
                             <div class="form-group-material col-lg-6">
                                 <label for="type" class="label-material">Type</label>
                                     <select class="form-control" id="type" name="type" require>
												<option value="1">-select type-</option>
												<option value="1">ee</option>
												<option value="1">ee</option>
												<option value="1">ee</option>

											</select>
                            </div>
                        </div>


                         <div id="img_input" class="row" style="display:none;">
                              <div class="form-group-material col-lg-12">
                                  <label for="addition" class="label-material">Image</label>
                              <input id="image" type="file" name="image" required class="input-material">
                            </div>
                        </div>
                         <div class="row">
                             <div class="col-lg-6 offset-3">
                                  <a id="edit"  class="btn btn-success" onclick="edit()" style="width: 100%;color: white;">Edit profile</a>

                                 <button id="save" type="submit" class="btn btn-primary" style="width: 100%;display: none">Save Changes</button>

                             </div>
                         </div>
                     </form>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </section>



</div>
    <script src="{% static 'seller/vendor/jquery/jquery.min.js' %}"></script>

<script>

function edit() {
    $("#edit").hide();


        $("#save").css("display","block");

            $("#img_input").css("display","block");


}

</script>


   {% endblock %}